.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  max-width: 96rem;
  margin: auto;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 24px;
  color: #2d3748;
}

.nav {
  width: 100%;
  margin-bottom: 24px;
}

.tab-list {
  display: flex;
  justify-content: center;
  gap: 4px;
  background-color: #f7fafc;
  padding: 4px;
  border-radius: 8px;
  list-style-type: none;
}

.tab-button {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: background-color 0.3s;
}

.tab-button.active {
  background-color: #ffffff;
  color: #2d3748;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tab-button:not(.active):hover {
  background-color: #e2e8f0;
  color: #4a5568;
}

.content {
  display: flex;
  width: 100%;
  gap: 16px;
}

.left-panel, .right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.panel {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.panel-title {
  text-align: center;
  margin-bottom: 8px;
  font-size: 1.125rem;
  font-weight: 600;
  color: #2d3748;
}

.webcam-container {
  position: relative;
  aspect-ratio: 16 / 9;
  background-color: #000000;
  border-radius: 8px;
  overflow: hidden;
}

.webcam {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.camera-icon {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: #2d3748;
  color: #ffffff;
  border-radius: 50%;
  padding: 4px;
}

.command-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-bottom: 16px;
}

.command-button {
  /* background-color: #2d3748; */
  background: none;
  color: black;
  border-radius: 8px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 8px 8px;
  font-size: 0.875rem;
  transition: background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #e2e8f0;
}

.command-button:hover {
  background-color: #4a5568;
  color: white;
}

.command-button.active {
  background-color: #2d3748;
  color: white;
}

.estop-button {
  width: 100%;
  padding: 12px;
  background-color: #f56565;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
  text-align: center;
  transition: background-color 0.3s;
}

.estop-button:hover {
  background-color: #e53e3e;
}

.move-control {
  display: flex;
  align-items: center;
  justify-content: center;
}

.move-label {
  font-size: 0.875rem;
  color: #718096;
}

.move-slider {
  margin: 0 8px;
  flex-grow: 1;
}

.move-current {
  text-align: center;
  margin-top: 4px;
  font-size: 0.875rem;
  color: #718096;
}

.chart-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.chart-space {
  text-align: center;
  padding: 10px;
  font-variant-numeric: tabular-nums;
}

.lever-grid {
  display: flex;
  justify-content: center;
}

.lever-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 8px;
}

.lever {
  height: 96px;
  width: 4px;
  background-color: #e2e8f0;
  position: relative;
  border-radius: 4px;
}

.lever-fill {
  position: absolute;
  bottom: 0;
  width: 4px;
  background-color: #2d3748;
  border-radius: 4px;
}

.lever-value {
  margin-top: 4px;
  background-color: #2d3748;
  color: #ffffff;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 0.75rem;
}

.reading-grid {
  display: flex;
  justify-content: center;
}

.reading {
  background-color: #2d3748;
  color: #ffffff;
  border-radius: 8px;
  padding: 4px 8px;
  margin: 4px;
  font-size: 0.875rem;
}

.gamepad-status {
  text-align: center;
  color: #718096;
}